<!DOCTYPE html>
<html lang"en-us">
  {% include head.html %}
  <body>

    {% include navbar.html %}

    <div id="main" role="main">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <div class="footer">
      <div class="container">
        Footer text here
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% include analytics.html %}
  </body>
</html>
